body {
	background-color: $primary-background;
	color: rgba(255, 255, 255, 0.9);
	font-family: "Noto Serif TC", arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
	font-size: 1.1em;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 360px;
}

a:hover {
	color: $primary;
}

ul {
	li {
		list-style: none;
	}

	a {
		color: #CFCFCF;
	}
}



.invalid-feedback {
	color: $invalid;
	margin-bottom: 1.2rem;
}

.valid-feedback {
	color: $valid;
	margin-bottom: 1.2rem;
}

.btn-outline-warning {
	color: $primary;
	border-color: $primary;

	&:hover {
		background-color: $primary;
		border-color: $primary;
	}
}